<%= turbo_frame_tag action do %>
  <div class="flex w-1/2">
    <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
      <% if action.undone? %>
        <div class="text-blue-500">
          <span class="text-green-500"><%= action.cost %></span> <span> / </span><span class="text-red-500">1</span><span> Oxygen</span>
        </div>
      <% end %>
      <div class="min-w-0 flex-1">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <% if action.undone? %>
          <%= button_to t("actions.#{action.index}.title"),
                        { controller: "actions",
                          action: "update",
                          id: action.id
                        },
                        method: :put,
                        class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg hover:cursor-pointer transition duration-300 ease-in-out hover:bg-blue-700 transform hover:-translate-y-1 hover:shadow-lg" %>
        <% else %>
          <div class="text-green-500">
            <%= t("actions.#{action.index}.result") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

