<div class="flex flex-col h-full justify-evenly items-center">
  <% location.game_actions.each do |game_action| %>
    <% puts game_action.status %>
    <% puts game_action.undone? %>
    <% if game_action.undone? %>
      <div class="flex items-center flex-col">
        <div class="text-blue-500">
          <span class="text-green-500"><%= game_action.cost %></span> <span> / </span><span class="text-red-500">1</span><span> Oxygen</span>
        </div>
      <%= button_to t("actions.#{game_action.index}.title"),
          { controller: "actions",
            action: "update",
            id: game_action.id
          },
          method: :put,
          class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg hover:cursor-pointer transition duration-300 ease-in-out hover:bg-blue-700 transform hover:-translate-y-1 hover:shadow-lg" %>
      </div>
      <% else %>
        <div class="text-green-500">
          <%= t("actions.#{game_action.index}.result") %>
        </div>
      <% end %>
  <% end %>
</div>
